@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

li {
    background-color: aquamarine;
    box-shadow: 2px 2px rgba(5, 10, 30, 0.5);
    border-width: 5px;
    font-family: 'IBM Plex Mono', monospace;
    padding: 5px;
    margin: 50px 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

li span {
    color: black;
    font-size: 40px;
    text-shadow: 2px 2px gray;
}


li span {
    pointer-events: auto;
    cursor: pointer;
  }

li span:hover {
    color: white;
}

li span:active {
    color: gray;
}

.icon .icon-check-active {
    color: lightpink;
}